h1 {
    color:black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.hero {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}